////////////////////////////////////////////////////////////////////////////////
// CUSTOMIZE SLATE
////////////////////////////////////////////////////////////////////////////////
// Use these settings to help adjust the appearance of Slate

// BACKGROUND COLORS
////////////////////
$nav-bg: #1a1a1a !default;
$examples-bg: #1a1a1a !default;
$code-bg: #101014 !default;
$code-annotation-bg: #101014 !default;
$nav-subitem-bg: #101014 !default;
$nav-active-bg: #323234 !default;
$nav-active-parent-bg: #101014 !default; // parent links of the current section
$lang-select-border: #000 !default;
$lang-select-bg: $examples-bg !default;
$lang-select-active-bg: #1e2224 !default; // feel free to change this to blue or something
$lang-select-pressed-bg: #111 !default; // color of language tab bg when mouse is pressed
$main-bg: #f7f8fa !default;
$aside-notice-bg: rgba(47, 84, 235, 0.14) !default;
$aside-warning-bg: #c97a7e !default;
$aside-success-bg: #6ac174 !default;
$search-notice-bg: #c97a7e !default;

// TEXT COLORS
////////////////////
$main-text: #0a0a0a; // main content text color
$nav-text: #fff !default;
$nav-active-text: #fff !default;
$nav-active-parent-text: #fff !default; // parent links of the current section
$lang-select-text: #fff !default; // color of unselected language tab text
$lang-select-active-text: #fff !default; // color of selected language tab text
$lang-select-pressed-text: #fff !default; // color of language tab text when mouse is pressed

// SIZES
////////////////////
$nav-width: 240px !default; // width of the navbar
$examples-width: 35% !default; // portion of the screen taken up by code examples
$logo-margin: 0px !default; // margin below logo
$main-padding: 28px !default; // padding to left and right of content & examples
$nav-padding: 15px !default; // padding to left and right of navbar
$nav-v-padding: 10px !default; // padding used vertically around search boxes and results
$nav-indent: 10px !default; // extra padding for ToC subitems
$code-annotation-padding: 13px !default; // padding inside code annotations
$h1-margin-bottom: 21px !default; // padding under the largest header tags
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size

// FONTS
////////////////////
%default-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

%header-font {
  @extend %default-font;
  font-weight: 700;
}

%code-font {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  line-height: 1.5;
}

// OTHER
////////////////////
$nav-footer-border-color: #666 !default;
$search-box-border-color: #666 !default;

////////////////////////////////////////////////////////////////////////////////
// INTERNAL
////////////////////////////////////////////////////////////////////////////////
// These settings are probably best left alone.

%break-words {
  word-break: break-all;
  hyphens: auto;
}
