@charset "utf-8";
@import "normalize";
@import "variables";
@import "icon-font";

////////////////////////////////////////////////////////////////////////////////
// GENERAL STUFF
////////////////////////////////////////////////////////////////////////////////

html,
body {
  color: $main-text;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend %default-font;
  background-color: $main-bg;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

////////////////////////////////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////////////////////////////////

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: $nav-bg;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bc-text-dark-label {
  --tw-text-opacity: 1;
  color: rgb(252 253 255 / var(1));
}

.bc-w-\[58px\] {
  width: 58px;
}
.bc-h-\[24px\] {
  height: 24px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

body .toc-left {
  display: flex;
  height: 100%;
  align-items: center;
}

body .toc-left a {
  color: #fff;
  text-decoration: none;
}

body .toc-split-line {
  width: 1px;
  height: 40%;
  margin: 10px 8px 10px 7px;
}

@media (max-width: $phone-width) {
  body .toc-nav-list {
    display: none;
  }
}

body .toc-nav-list {
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body .toc-nav-list li.selected {
  border-bottom-color: #ced1d9;
}

body .toc-nav-list li {
  margin-right: 32px;
  height: 56px;
  line-height: 56px;
  display: inline-block;
  cursor: pointer;
}

body .toc-nav-list li a {
  color: #fcfdff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  font-size: 24px;
}

body .toc-nav-dropdown {
  display: none;
  outline: none;
  color: #fcfdff;
  border-radius: 4px;
  padding: 4px 8px;
  border: thin solid #fcfdff;
  background: #101014;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

body header .switch-language {
  width: 80px;
  .toc-link {
    color: #fcfdff;
    // width: 80px;
    line-height: 26px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }
}

button,
select {
  text-transform: none;
}

@media (max-width: $phone-width) {
  body .toc-nav-dropdown {
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
////////////////////////////////////////////////////////////////////////////////

#toc > ul > li > a > span {
  float: right;
  background-color: #2484ff;
  border-radius: 40px;
  width: 20px;
}

.toc-wrapper {
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background-color: $nav-bg;
  padding-top: 56px;
  // language selector for mobile devices
  .lang-selector {
    display: none;
    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }

  // This is the logo at the top of the ToC
  .logo {
    display: block;
    max-width: 100%;
    margin-bottom: $logo-margin;
  }

  & > .search {
    position: relative;

    input {
      background: $nav-bg;
      border-width: 0 0 1px 0;
      border-color: $search-box-border-color;
      padding: 6px 0 6px 24px;
      box-sizing: border-box;
      margin: $nav-v-padding $nav-padding;
      width: $nav-width - ($nav-padding * 2);
      outline: none;
      color: $nav-text;
      border-radius: 0; /* ios has a default border radius */
      font-size: 16px;
      font-weight: 400;
    }
    input::placeholder {
      font-size: 16px;
      font-weight: 400;
    }

    &:before {
      position: absolute;
      top: 17px;
      left: $nav-padding;
      color: $nav-text;
      @extend %icon-search;
    }
  }

  .search-results {
    margin-top: 0;
    box-sizing: border-box;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition-property: height, margin;
    transition-duration: 180ms;
    transition-timing-function: ease-in-out;
    background: $nav-subitem-bg;
    font-weight: normal;
    font-size: 16px;
    &.visible {
      height: 30%;
      margin-bottom: 1em;
    }

    li {
      margin: 1em $nav-padding;
      line-height: 1;
    }

    a {
      color: $nav-text;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // The Table of Contents is composed of multiple nested
  // unordered lists.  These styles remove the default
  // styling of an unordered list because it is ugly.
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
  }

  li {
    color: $nav-text;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }

  // This is the currently selected ToC entry
  .toc-link.active {
    background-color: $nav-active-bg;
    color: $nav-active-text;
  }

  // this is parent links of the currently selected ToC entry
  .toc-link.active-parent {
    background-color: $nav-active-parent-bg;
    color: $nav-active-parent-text;
  }

  .toc-list-h2,
  .toc-list-h3 {
    display: none;
    background-color: $nav-subitem-bg;
    font-weight: 500;
    li {
      line-height: 40px;
    }
  }

  .toc-list-h3 {
    li {
      line-height: 36px;
    }
  }

  .toc-h2 {
    padding-left: $nav-padding + $nav-indent;
    font-size: 16px;
    font-weight: 400;
  }

  .toc-h3 {
    padding-left: $nav-padding + $nav-indent + 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .toc-footer {
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px dashed $nav-footer-border-color;

    li,
    a {
      color: $nav-text;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      font-size: 0.8em;
      line-height: 1.7;
      text-decoration: none;
    }
  }
}

.toc-link,
.toc-footer li {
  padding: 0 $nav-padding 0 $nav-padding;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  transition-property: background;
  transition-timing-function: linear;
  transition-duration: 130ms;
  color: #ebecf5;
  font-size: 16px;
  font-weight: 500;
}

// button to show navigation on mobile devices
#nav-button {
  span {
    display: flex;
    padding: 6px 6px 6px;
    background-color: rgba(243, 247, 249, 0.7);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(-90deg) translate(-100%, 0);
    border-radius: 0 0 0 5px;
  }
  padding: 0 1.5em 5em 0; // increase touch size area
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  line-height: 16px;
  img {
    height: 16px;
    vertical-align: bottom;
  }

  transition: left 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
  &.open {
    left: $nav-width;
  }
}

////////////////////////////////////////////////////////////////////////////////
// PAGE LAYOUT AND CODE SAMPLE BACKGROUND
////////////////////////////////////////////////////////////////////////////////

.page-wrapper {
  position: relative;
  z-index: 10;
  background-color: $main-bg;
  min-height: 100%;
  margin-left: $nav-width;
  padding-bottom: 1px;
  .dark-box {
    width: $examples-width;
    background-color: $examples-bg;
    position: absolute;
    right: 0;
    top: 56px;
    bottom: 0;
  }

  .lang-selector {
    position: fixed;
    z-index: 50;
  }
}

.lang-selector {
  display: flex;
  background-color: $lang-select-bg;
  width: 100%;
  overflow-x: auto;
  a {
    display: inline;
    color: $lang-select-text;
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    &:active,
    &:focus {
      background-color: $lang-select-pressed-bg;
      color: $lang-select-pressed-text;
    }

    &.active {
      background-color: $lang-select-active-bg;
      color: $lang-select-active-text;
    }
  }

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

////////////////////////////////////////////////////////////////////////////////
// CONTENT STYLES
////////////////////////////////////////////////////////////////////////////////
// This is all the stuff with the light background in the left half of the page

.content {
  // fixes webkit rendering bug for some: see #538
  -webkit-transform: translateZ(0);
  // to place content above the dark box
  position: relative;
  z-index: 30;
  &:after {
    content: "";
    display: block;
    clear: both;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p,
  & > table,
  & > ul,
  & > ol,
  & > aside,
  & > dl {
    margin-right: $examples-width;
    padding: 0 $main-padding 8px;
    box-sizing: border-box;
    display: block;

    @extend %left-col;
  }

  & > ul,
  & > ol {
    padding-left: $main-padding + 15px;
  }

  // the div is the tocify hidden div for placeholding stuff
  & > h1,
  & > h2,
  & > h3,
  & > div {
    clear: both;
  }

  h1 {
    @extend %header-font;
    color: #0a0a0a;
    font-size: 24px;
    padding-top: calc(56px + 0.5em);
    margin-bottom: $h1-margin-bottom;
    font-weight: 700;
    line-height: 34px;
  }

  h1:first-child,
  div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
  }

  h2 {
    @extend %header-font;
    color: #0a0a0a;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: calc(56px + 0.5em);
    line-height: 26px;
  }

  // h2s right after h1s should bump right up
  // against the h1s.
  h1 + h2,
  h1 + div + h2 {
    margin-top: $h1-margin-bottom * -1;
    border-top: none;
  }

  h3 {
    @extend %header-font;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0.8em;
    padding-top: calc(56px + 0.5em);
    color: #0a0a0a;
    line-height: 24px;
  }

  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: 700;
    color: #0a0a0a;
    font-size: 14px;
    line-height: 20px;
  }

  hr {
    margin: 2em 0;
    border-top: 2px solid $examples-bg;
    border-bottom: 2px solid $main-bg;
  }

  table {
    margin-bottom: 1em;
    overflow: auto;
    th,
    td {
      text-align: left;
      vertical-align: top;
      line-height: 1.6;
      code {
        white-space: nowrap;
      }
    }

    th {
      padding: 5px 10px;
      background: #ffffff;
      vertical-align: bottom;
      border-top: 1px solid #e6e7eb;
      font-size: 14px;
      font-weight: 500;
    }

    td {
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
    }

    tr {
      border-left: 1px solid #e6e7eb;
      border-right: 1px solid #e6e7eb;
    }

    tr:last-child {
      border-bottom: 1px solid #e6e7eb;
    }

    tr:nth-child(odd) > td {
      background-color: #f7f8fa;
    }

    tr:nth-child(even) > td {
      background-color: #ffffff;
    }
    thead {
      tr {
        border-bottom: none;
      }
      tr:last-child {
        border-bottom: none;
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 15px;
  }

  p,
  li,
  dt,
  dd {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-radius: 3px;
    @extend %break-words;
    @extend %code-font;
  }

  pre > code {
    background-color: transparent;
    padding: 0;
  }

  aside {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: calc(35% + 1.5em);
    background: $aside-notice-bg;
    border-radius: 4px;
    line-height: 1.6;
    color: #2f54eb;
    &.warning {
      color: #ffffff;
      background-color: $aside-warning-bg;
    }

    &.success {
      color: #ffffff;
      background-color: $aside-success-bg;
    }
  }

  aside:before {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 14px;
  }

  aside.notice:before {
    @extend %icon-info-sign;
  }

  aside.warning:before {
    @extend %icon-exclamation-sign;
  }

  aside.success:before {
    @extend %icon-ok-sign;
  }

  .search-highlight {
    padding: 2px;
    margin: -3px;
    border-radius: 4px;
    border: 1px solid #f7e633;
    background: linear-gradient(to top left, #f7e633 0%, #f1d32f 100%);
  }
  p {
    color: $main-text;
    font-size: 14px;
    line-height: 20px;
    code {
      background-color: #ebedf2;
      color: $main-text;
    }
  }
  a {
    color: #2f54eb;
  }
}

////////////////////////////////////////////////////////////////////////////////
// CODE SAMPLE STYLES
////////////////////////////////////////////////////////////////////////////////
// This is all the stuff that appears in the right half of the page

.content {
  & > div.highlight {
    clear: none;
    background: none;
  }

  pre,
  blockquote {
    background-color: $code-bg;
    color: #fff;

    margin: 0;
    width: $examples-width;

    float: right;
    clear: right;

    box-sizing: border-box;

    @extend %right-col;

    & > p {
      margin: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      border-bottom: dashed 1px #ccc;
    }
  }

  pre {
    @extend %code-font;
    padding-top: 2em;
    padding-bottom: 2em;
    padding: 2em $main-padding;
  }

  blockquote {
    & > p {
      background-color: $code-annotation-bg;
      padding: $code-annotation-padding 2em;
      color: #eee;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// RESPONSIVE DESIGN
////////////////////////////////////////////////////////////////////////////////
// These are the styles for phones and tablets
// There are also a couple styles disperesed

@media (max-width: $tablet-width) {
  .toc-wrapper {
    left: -$nav-width;

    &.open {
      left: 0;
    }
  }

  .page-wrapper {
    margin-left: 0;
  }

  #nav-button {
    top: 56px;
    display: block;
  }

  .toc-link {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

@media (max-width: $phone-width) {
  .dark-box {
    display: none;
  }

  %left-col {
    margin-right: 0;
  }
  aside {
    margin-right: 1.5em !important;
  }
  .toc-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #909090;
}

.highlight,
.highlight .w {
  background-color: $code-bg;
}

.copy-clipboard {
  float: right;
  fill: #9daab6;
  cursor: pointer;
  opacity: 0.4;
  height: 18px;
  width: 18px;
}

.copy-clipboard:hover {
  opacity: 0.8;
}
